body{
	height: 100vh;
	background:linear-gradient(to bottom, #D7E5CA, #F9F3CC);
	background-repeat: no-repeat;
}

button{
	display:inline-block;
	margin: 10px;
}

.loginbox{
	background-color: rgb(255,255,255,0.5);
	border: 1px solid blue;
	width: 80%;
	margin: 10px auto;
	padding: 10px;
}

.block{
	display: block;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}
.idinput, .pwdinput{
	text-align: center;
	margin-bottom: 10px;
}

.tag{
	text-align: right;
	padding-right: 10px;
	display: inline-block;
	width: 10%;
}
.inputtag{
	width: 50%;
}